JudgeImageService/WebContent/wsdl/JudgeImage.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://serv" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://serv" xmlns:intf="http://serv" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://serv" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="uploadPicture">
    <complexType>
     <sequence>
      <element name="question" type="xsd:string"/>
      <element name="picStr" type="xsd:string"/>
      <element name="format" type="xsd:string"/>
      <element name="guid" type="xsd:string"/>
      <element name="deadline" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="uploadPictureResponse">
    <complexType>
     <sequence>
      <element name="uploadPictureReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="uploadPictureRequest">

      <wsdl:part element="impl:uploadPicture" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="uploadPictureResponse">

      <wsdl:part element="impl:uploadPictureResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="JudgeImage">

      <wsdl:operation name="uploadPicture">

         <wsdl:input message="impl:uploadPictureRequest" name="uploadPictureRequest">

       </wsdl:input>

         <wsdl:output message="impl:uploadPictureResponse" name="uploadPictureResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="JudgeImageSoapBinding" type="impl:JudgeImage">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="uploadPicture">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="uploadPictureRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="uploadPictureResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="JudgeImageService">

      <wsdl:port binding="impl:JudgeImageSoapBinding" name="JudgeImage">

         <wsdlsoap:address location="http://localhost:8080/JudgeImageService/services/JudgeImage"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
